<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/navbar.ejs') %>

        <div class="container mt-5">
            <h2 class="mb-3 text-dark"><%= blog.title %></h2>
            <div class="container-fluid">
                <p class="text-secondary fs-5"><%= blog.body%></p>
            </div>
            <a class="delete btn btn-danger" data-doc='<%= blog._id%>'>Delete</a>
        </div>

        <%- include('../partials/footer.ejs') %>

        <script>
            const trashcan = document.querySelector('a.delete');

            trashcan.addEventListener('click', (e) => {
                const endPoint = `/blogs/${trashcan.dataset.doc}`

                fetch(endPoint, {
                    method: 'DELETE'
                })
                .then((response) => {
                    response.json()
                })
                .then((data) => window.location.href = data.redirect)
                .catch((err) => {
                    console.log(err)
                })
            })
        </script>

                <!-- Bootstrap JS -->
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
                    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
                    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
                    crossorigin="anonymous"></script>
    </body>

</html>